
*.pyc
ChickenPrograms/chicken_instructions_basic.txt
ChickenPrograms/chicken_instructions_compare.txt
.vs
.suo
src/C#/ChickenSharp/obj/*
src/C#/ChickenSharp/bin/*
src/C#/ExampleProgram/obj/*
src/C#/ExampleProgram/bin/*
src/C#/ChickenSharp.Tests/obj/*
src/C#/ChickenSharp.Tests/bin/*
obj/
bin/
PspspsPrograms/Console3.psp
PspspsPrograms/PspspSPspspsPSS.psp
PspspsPrograms/SommeDesTrucs.psp
PspspsPrograms/Tests.psp
src/C\#/ExampleProgram/Tests.psp
